
.t-collapse-panel__title{
    .t-cell__title-text{
        display: inline-block;
        background-color: rgb(242,243,255);
        border-radius: 40rpx;
        padding: 0rpx 20rpx 0rpx 20rpx;
    }
}
